<% if @game.bookmark(current_user).nil? %>
  <h5>Not in your library</h5>
<% else %>
  <div class="bookmark-info">
    <div class="flex-boy">
      Added to your library on <br>
      <%= @game.bookmark(current_user).created_at.strftime("%B %d, %Y") %>
    </div>
    <div class="flex-boy">
      Platform:
      <br>
      <%= @game.bookmark(current_user).platform %>
    </div>
    <div class="flex-column">
      <div>
        Region:
      </div>
      <div>
        <% if @game.bookmark(current_user).region.include?('PAL') %>
          <%= image_tag 'regions/pal.png', alt: "european flag" %>
        <% else %>
          <%= image_tag 'regions/pal.png', alt: "european flag", class: "opacity-low" %>
        <% end %>
        <% if @game.bookmark(current_user).region.include?('NTSC-J') %>
          <%= image_tag 'regions/ntsc-j.png', alt: "japanese flag" %>
        <% else %>
          <%= image_tag 'regions/ntsc-j.png', alt: "japanese flag", class: "opacity-low" %>
        <% end %>
        <% if @game.bookmark(current_user).region.include?('NTSC') %>
          <%= image_tag 'regions/ntsc.png', alt: "american flag" %>
        <% else %>
          <%= image_tag 'regions/ntsc.png', alt: "american flag", class: "opacity-low" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
