<div class="form-container">
  <%= image_tag @game.cover_url, alt: "game cover", class: "form-img" %>
  <h2>Update your Game</h2>
  <%= simple_form_for @bookmark, url: bookmark_path(@bookmark), method: :patch, html: { class: "simpler-form" } do |f| %>
    <%= f.input :platform, collection: @game.platforms, include_blank: false, input_html: { class: "form-input" } %>
    <%= f.input :completed, as: :boolean, label: "Did you complete the game?", input_html: { class: "form-input" } %>
    <div class="checkbox-group">
      <% ['PAL', 'NTSC', 'NTSC-J'].each do |region| %>
        <label class="checkbox-inline">
          <%= f.check_box :region, { multiple: true, class: "form-input" }, region, nil %>
          <%= region %>
        </label>
      <% end %>
    </div>
    <%= f.input :notes, as: :text, input_html: { class: "form-input" } %>
    <%= f.button :submit, "Add to your collection", class: "add-btn" %>
  <% end %>
</div>
