      <% if @game.bookmark(current_user).nil? %>
  <p>Not in your library</p>
<% else %>
  <div>
    Added to your library on <%= @game.bookmark(current_user).created_at.strftime("%B %d, %Y") %>
  </div>
  <div>
    Platform: <%= @game.bookmark(current_user).platform %>
  </div>
  <div>
    Region:
    <% if @game.bookmark(current_user).region.include?('PAL') %>
      <%= image_tag 'regions/pal.png', alt: "european flag" %>
    <% else %>
      <%= image_tag 'regions/pal.png', alt: "european flag", class: "opacity-low" %>
    <% end %>
    <% if @game.bookmark(current_user).region.include?('NTSC-J') %>
      <%= image_tag 'regions/ntsc-j.png', alt: "japanese flag" %>
    <% else %>
      <%= image_tag 'regions/ntsc-j.png', alt: "japanese flag", class: "opacity-low" %>
    <% end %>
    <% if @game.bookmark(current_user).region.include?('NTSC') %>
      <%= image_tag 'regions/ntsc.png', alt: "american flag" %>
    <% else %>
      <%= image_tag 'regions/ntsc.png', alt: "american flag", class: "opacity-low" %>
    <% end %>
  <% end %>
</div>
